body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--dark-blue);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grayish-blue);
    border-radius: 10px;
    margin: 20px;
    width: 345px;
}
.advice .advice-id{
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}
.advice .advice-description{
    font-size: 23px;
    padding: 23px;
    text-align: center;
    color: var(--light-cyan);
}
.advice svg path[fill*="4F5D74"]{
    width: 50%;
    fill: var(--light-cyan);
}

.advice .advice-update{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--neon-green);
    transform: translateY(50%);
}

.advice .advice-update:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--neon-green);
}